jimdnguyen.dev {
    reverse_proxy site:8000
}

finally.jimdnguyen.dev {
    reverse_proxy finally:8000 {
        flush_interval -1
    }
}

pm.jimdnguyen.dev {
    reverse_proxy pm:8000
}

prelegal.jimdnguyen.dev {
    reverse_proxy prelegal:8000
}
